.newTweetSection {
  /* border: 5px solid #545149; */
  padding: 10px;
}

/* .newTweetSection:hover {
  box-shadow: 15px 15px rgba(64, 86, 161, 0.5);
} */

article.tweet {
  margin-top: 20px;
  border: 5px solid #545149;
  padding: 15px;
}

article.tweet:hover {
  box-shadow: 15px 15px rgba(64, 86, 161, 0.5);
}

article.tweet header {
  background-image: none;
  background-color: inherit;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article.tweet header div {
  display: flex;
  align-items: center;
}

article.tweet .userHandle {
  font-weight: 600;
  color: lightgrey;
}

.userAvatar {
  height: 60px;
  max-width: 60px;
  display: inline-block;
}

.userAvatar img {
  max-width: 100%;
  padding-right: 10px;
}

article.tweet .middle {
  padding: 10px;
}
article.tweet p {
  font-size: 24px;
  font-weight: 600;
  color: #545149;
}

article.tweet footer {
  display: flex;
  justify-content: space-between;
  border-top: 5px solid #545149;
  font-size: 15px;
  padding: 10px;
}

.tweetIcons {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.tweetIcons i:hover {
  color: #4056a1;
}
